@{
    ViewBag.Title = "进度任务设置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
@Html.AppendCssFile("/Areas/DM_APPManage/Views/DM_Task_Person_Setting/Form.css")
<div class="lr-form-wrap" id="form">
    @*<div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">id<font face="宋体">*</font></div>
        <input id="id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
    </div>*@
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">任务标题<font face="宋体">*</font></div>
        <input id="title" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">任务描述<font face="宋体">*</font></div>
        <input id="remark" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">任务类型<font face="宋体">*</font></div>
        <div id="s_type"><ul><li data-value="1">每日签到任务</li><li data-value="2">邀请粉丝任务</li><li data-value="3">团队粉丝任务</li><li data-value="4">购物任务</li><li data-value="5">团队购物任务</li><li data-value="6">浏览商品</li></ul></div>
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">所需人数<font face="宋体">*</font></div>
        <input id="needcount" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">是否为合伙人任务<font face="宋体">*</font></div>
        <div id="ispartners">
            <ul>
                <li data-value="0">非合伙人</li>
                <li data-value="1">合伙人</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">状态<font face="宋体">*</font></div>
        <div id="isenabled">
            <ul>
                <li data-value="0">禁用</li>
                <li data-value="1">启用</li>
            </ul>
        </div>
    </div>
    <!--<div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">创建时间<font face="宋体">*</font></div>
        <input id="createtime" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">修改时间<font face="宋体">*</font></div>
        <input id="updatetime" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">平台id<font face="宋体">*</font></div>
        <input id="appid" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>-->
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">奖励类型<font face="宋体">*</font></div>
        <div id="rewardtype">
            <ul>
                <li data-value="0">积分奖励</li>
                <li data-value="1">余额奖励</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">奖励值<font face="宋体">*</font></div>
        <input id="rewardcount" type="text" class="form-control" isvalid="yes" checkexpession="isdecimal" />
    </div>
    <div class="lr-wrap col-xs-12 lr-form-item">
        <div class="lr-form-item-title">任务图标<font face="宋体">*</font></div>
        <div class="file">
            <input type="file" name="uploadFile" id="uploadFile">
        </div>
    </div>
</div>
<script src="~/Content/webuploader/webuploader.nolog.min.js"></script>
@Html.AppendJsFile("/Views/LR_Content/script/lr-fileupload.js", "/Areas/DM_APPManage/Views/DM_Task_Person_Setting/Form.js")
