@{
    ViewBag.Title = "飞扬版风格";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/AdminTop/index.css")
<div class="lr-frame-top">
    <a class="lr-logo-title"><i class="iconfont icon-logo"></i><span>.</span> 敏捷开发框架</a>
</div>
<div class="lr-frame-menu-btn" id="lr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>
<div class="lr-second-menu-wrap" id="lr_second_menu_wrap"></div>
@Html.AppendJsFile("/Views/Home/AdminTop/index.js")




