@{
    ViewBag.Title = "风尚版风格 - 产品体验";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/AdminAccordion/index.css")
<div class="lr-frame-top">
    <a class="lr-logo-title"><i class="iconfont icon-logo"></i><span>.</span> 敏捷开发框架</a>
</div>
<div class="lr-frame-menu-btn" id="lr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>
@Html.AppendJsFile("/Views/Home/AdminAccordion/index.js")




