@{
    ViewBag.Title = "经典版风格 - 产品体验";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/AdminDefault/index.css")
<img class="lr-frame-vericon" src="~/Content/images/adminDefault.png" alt="经典风格">
<div class="lr-frame-top">
    <a class="lr-logo-title">
        <img src="/Content/images/logo_long_blue.png" />
    </a>
</div>
@Html.AppendJsFile("/Views/Home/AdminDefault/index.js")