
@{
    ViewBag.Title = "SelectUser";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="lr-layout lr-layout-center" id="lr_layout">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title">用户信息</div>
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_phone" type="text" class="form-control" placeholder="请输入手机号" />
                        <input id="txt_nickname" type="text" class="form-control" placeholder="请输入用户昵称" />
                        <input id="txt_realname" type="text" class="form-control" placeholder="请输入真实姓名" />
                        <input id="txt_invitecode" type="text" class="form-control" placeholder="请输入邀请码" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/DM_APPManage/Views/DM_User/SelectUser.js")
