@{
    ViewBag.Title = "设置会员等级";
    Layout = "~/Views/Shared/_Form.cshtml";
}
    <div class="lr-form-wrap" id="form">
        <div class="col-xs-12 lr-form-item">
            <div style="text-align:left;color:red;"><font face="宋体">普通用户无法直接晋升为合伙人,合伙人无法降级到普通会员</font></div>
        </div>
        <div class="col-xs-12 lr-form-item">
            <div class="lr-form-item-title">等级<font face="宋体">*</font></div>
            <div id="user_level" isvalid="yes" checkexpession="NotNull"><ul><li data-value="0">普通会员</li><li data-value="1">初级代理</li><li data-value="2">高级代理</li><li data-value="3">合伙人</li></ul></div>
        </div>
    </div>

@Html.AppendJsFile("/Areas/DM_APPManage/Views/DM_User/SetLevel.js")