<html style="overflow-y: hidden;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=1.0,Transition=0)">
    <title>「哆来米」-手机购物APP-少花钱！多生钱！</title>
    <meta name="keywords" content="哆来米,哆来米官网,哆来米APP下载,哆来米APP">
    <meta name="description" content="哆来米是一款手机购物APP，用户通过APP搜索电商平台的优惠券，达到购物省钱的目的，同时用户可以将商品的优惠信息链接分享给朋友、家人等，通过促成销售获益。
">
    <meta name="author" content="哆来米,www.dlaimi.cn">
    <meta name="copyright" content="哆来米,www.dlaimi.cn">
    <meta name="generator" content="www.dlaimi.cn">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="icon" type="image/x-icon" href="/Statics/favicon.ico">
    <link href="~/Content/dlm/plug-in.css?20190422" rel="stylesheet" />
    <link href="~/Content/dlm/style.css?20190422" rel="stylesheet" />
    <!--[if lte IE 9]>
    <style>#b{position:fixed;top:0;bottom:0; left:0; right:0;background:#fff;z-index:10000;}#b span{position:fixed;top:50%;left:0;right:0;margin:-150px auto 0;text-align:center;line-height:1;}#b p{font-size:20px;margin:20px 0;}#b a{font-size:24px;color:#d9534f;}#b a:hover i{color:#9a9084;}</style><div id="b"><span><img src="images/ieFalse.gif"/><p>SORRY! 您的浏览器版本太低，无法正常浏览本站</p><a href="https://windows.microsoft.com/zh-CN/internet-explorer/download-ie">点击这里升级您的&nbsp;&nbsp;<i>Internet Explorer</i></a></span></div>
    <![endif]-->
    <style>
        html {
            font-size: 40px;
        }
    </style>
    <script src="https://hm.baidu.com/hm.js?2b77474a8fa6f8e55a7e53d4305a277a"></script>
    <script src="http://push.zhanzhang.baidu.com/push.js"></script>
    <script src="https://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=442876"></script>
    <style id="tsbrowser_video_independent_player_style" type="text/css">
        [tsbrowser_force_max_size] {
            width: 100% !important;
            height: 100% !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            transform: none !important;
        }

        [tsbrowser_force_fixed] {
            position: fixed !important;
            z-index: 9999 !important;
            background: black !important;
        }

        [tsbrowser_force_hidden] {
            opacity: 0 !important;
            z-index: 0 !important;
        }

        [tsbrowser_hide_scrollbar] {
            overflow: hidden !important;
        }

        [tsbrowser_display_none] {
            display: none !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }

        [tsbrowser_force_show] {
            display: black !important;
            visibility: visible !important;
            opacity: 0;
        }
    </style>
</head>
<body class="pc gd" data-ext-version="3.0.2">
    @RenderBody()
    <div class="peanut-diary_body">
        <header>
            <div class="wrp1 ui_hbfb ui_flex1">
                <div class="logo_box ui_mid3">
                    <a href="/" title="花生日记"><img src="/Statics/images/logo.png" alt="花生日记" class="logo1"><img src="/Statics/images/logo2.png" class="logo2"></a>
                </div>
                <nav>
                    <i class="yj_line" style="left: 0px; width: 0px;"><li class="current" style="width:0; overflow:hidden; margin-right:0;"><a href="#"></a></li></i>
                    <ul class="clearfix">
                        <li class="current" style="width:0; overflow:hidden; margin-right:0;"><a href="#"></a></li>
                        <li class="">
                            <a href="/Page_list/new.html" class="yjtit">企业动态</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/product.html" class="yjtit">产品服务</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/aboutme.html" class="yjtit">认识花生日记</a>
                        </li>
                        <li class="">
                            <a href="/Qyzp_list/recruitment.html" class="yjtit">企业招聘</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/app.html" class="yjtit">app下载</a>
                        </li>
                    </ul>
                </nav>
                <a class="nav_bar ui_hide"><span><i></i></span></a>
            </div>
        </header>

        <main class="mt1">
            <section class="idx_banner">
                <div class="swiper1 swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(-4428px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide ui_bg swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" style="background-image: url(&quot;/Uploads/201904/5cc57912adee5.jpg&quot;); width: 1107px;" data-swiper-slide-index="2">
                            <div class="ui_hide ui_bg" style="background-image:url(/Uploads/201904/5cc57920a279a.jpg)"></div>
                        </div>
                        <div class="swiper-slide ui_bg swiper-slide-duplicate-active" style="background-image: url(&quot;/Uploads/201904/5cc5774b57b1b.jpg&quot;); width: 1107px;" data-swiper-slide-index="0">
                            <div class="ui_hide ui_bg" style="background-image:url(/Uploads/201904/5cc577541e6ff.jpg)"></div>
                        </div>
                        <div class="swiper-slide ui_bg" style="background-image: url(&quot;/Uploads/201904/5cc57769d5754.jpg&quot;); width: 1107px;" data-swiper-slide-index="1">
                            <div class="ui_hide ui_bg" style="background-image:url(/Uploads/201904/5cc577725b55e.jpg)"></div>
                        </div>
                        <div class="swiper-slide ui_bg swiper-slide-prev swiper-slide-duplicate-next" style="background-image: url(&quot;/Uploads/201904/5cc57912adee5.jpg&quot;); width: 1107px;" data-swiper-slide-index="2">
                            <div class="ui_hide ui_bg" style="background-image:url(/Uploads/201904/5cc57920a279a.jpg)"></div>
                        </div>
                        <div class="swiper-slide ui_bg swiper-slide-duplicate swiper-slide-active" style="background-image: url(&quot;/Uploads/201904/5cc5774b57b1b.jpg&quot;); width: 1107px;" data-swiper-slide-index="0">
                            <div class="ui_hide ui_bg" style="background-image:url(/Uploads/201904/5cc577541e6ff.jpg)"></div>
                        </div>
                    </div>
                    <div class="ui_txt wrp">
                        <p class="p1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"><img src="/Statics/images/img11.png"></p>
                        <p class="p2 ui_font24 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">社交电商引领者</p>
                        <div class="p3 ui_font16 ui_trans03 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <p class="ui_mid3"><span>扫码下载</span><a href="#" class="ui_hide">立即下载</a></p>
                            <img src="/Statics/images/img4.png">
                        </div>
                    </div>
                    <div class="swp-dots1 swp-dots-style1 swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </section>
            <section class="idx_about">
                <div class="wrp1 ui_flex1">
                    <div class="ui_img wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <img src="/Statics/images/img5.png">
                    </div>
                    <div class="ui_txt ui_siz wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <p class="p1 ui_font42">自用省钱，分享赚钱</p>
                        <div class="p2 ui_font16">
                            &nbsp;花生日记是一款手机购物APP，用户通过APP搜索电商平台的优惠券，达到购物省钱的目的，同时用户可以将商品的优惠信息链接分享给朋友、家人等，通过促成销售获益。
                        </div>
                        <a href="/Page_list/aboutme.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                    </div>
                </div>
            </section>
            <section class="idx_news">
                <div class="news_slide">
                    <div class="swiper_gl_m swiper-container ui_font16 wow fadeInDown swiper-container-horizontal" style="visibility: visible; animation-name: fadeInDown;">
                        <div class="swiper swiper-wrapper">
                            <a class="swiper-slide ui_bar on swiper-slide-active">企业活动</a>
                            <a class="swiper-slide ui_bar swiper-slide-next">媒体报道</a>
                            <a class="swiper-slide ui_bar">花生app动态</a>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="swiper_gl_c swiper-container swiper-container-horizontal swiper-container-autoheight">
                        <div class="gl_c_swap swiper-wrapper" style="height: 437px;">
                            <!-- 外循环 -->

                            <div class="swiper-slide gl_c_slide swiper-slide-active" style="width: 1107px;">
                                <div class="swiper3 swiper-container swiper3-0 swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <!-- 内循环 -->
                                        <div class="swiper-slide swiper-slide-active" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="86">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/202007/5f0581d517c41.jpg)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2020-07-03</p>
                                                        <p class="news_tit ui_font30">花生日记党支部开展庆“七一”建党99周年主题党日活动</p>
                                                        <div class="news_des">
                                                            为庆祝中国共产党成立99周年，教育引导党员坚定理想信念，提升党性修养，7...
                                                        </div>
                                                        <a href="/Article_details/86.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide swiper-slide-next" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="85">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/202006/5ef341cbed1b4.jpg)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2020-06-24</p>
                                                        <p class="news_tit ui_font30">社交电商头部企业受关注  近50家广东电商协会会员到访花生日记</p>
                                                        <div class="news_des">
                                                            6月23日下午，广东省电子商务协会（以下简称“省电商协会”）“名企考察系...
                                                        </div>
                                                        <a href="/Article_details/85.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="84">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/202006/5ef2c08c0bff2.gif)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2020-06-24</p>
                                                        <p class="news_tit ui_font30">广州市海珠区和贵州省黔南州福泉市领导一行莅临花生日记</p>
                                                        <div class="news_des">
                                                            6月18日上午，海珠区和福泉市领导一行到花生日记总部指导工作，深入讨论了...
                                                        </div>
                                                        <a href="/Article_details/84.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="83">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/202006/5ef32c63d2816.jpg)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2020-06-19</p>
                                                        <p class="news_tit ui_font30">积极践行广州本土公益事业 花生日记率先认领微心愿</p>
                                                        <div class="news_des">
                                                            花生日记与网易、欢聚时代、虎牙、唯品会等22家企业到场支持，并认领26个微...
                                                        </div>
                                                        <a href="/Article_details/83.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="82">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/202006/5eeca721e1a5f.jpg)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2020-06-19</p>
                                                        <p class="news_tit ui_font30">借势首届直播节 花生日记直播业务获六倍速增长</p>
                                                        <div class="news_des">
                                                            首届直播节（中国·广州），花生日记最终GMV高达2720万元，直播前三小时在...
                                                        </div>
                                                        <a href="/Article_details/82.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                            <div class="swiper-slide gl_c_slide swiper-slide-next" style="width: 1107px;">
                                <div class="swiper3 swiper-container swiper3-1 swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <!-- 内循环 -->
                                        <div class="swiper-slide swiper-slide-active" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="67">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-08-05</p>
                                                        <p class="news_tit ui_font30">广东广播电视台报道花生日记当选社交电商分会会长单位</p>
                                                        <div class="news_des">
                                                        </div>
                                                        <a href="/Article_details/67.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide swiper-slide-next" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="64">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-07-16</p>
                                                        <p class="news_tit ui_font30">花生日记杨仙强：以正向价值助推社交电商未来</p>
                                                        <div class="news_des">
                                                            聚焦社交电商，助推行业健康发展!
                                                        </div>
                                                        <a href="/Article_details/64.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="66">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-07-23</p>
                                                        <p class="news_tit ui_font30">花生日记携手天猫、认养一头牛12小时卖空24万箱牛奶</p>
                                                        <div class="news_des">
                                                            7月16日，花生日记与天猫、认养一头牛共同举行“乳业新供给 消费新场景”品...
                                                        </div>
                                                        <a href="/Article_details/66.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="65">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-07-22</p>
                                                        <p class="news_tit ui_font30">广州电子商务行业协会正式成立社交电商分会，花生日记当选首任会长单位</p>
                                                        <div class="news_des">
                                                            7月18日，广州市电子商务行业协会成立社交电商分会，广州花生日记网络科技...
                                                        </div>
                                                        <a href="/Article_details/65.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="63">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-07-16</p>
                                                        <p class="news_tit ui_font30">花生日记杨仙强：社交电商重塑商业化未来</p>
                                                        <div class="news_des">
                                                            2019亿邦社交电商大会
                                                        </div>
                                                        <a href="/Article_details/63.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>

                            </div>
                            <div class="swiper-slide gl_c_slide" style="width: 1107px;">
                                <div class="swiper3 swiper-container swiper3-2 swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <!-- 内循环 -->
                                        <div class="swiper-slide swiper-slide-active" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="61">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-07-15</p>
                                                        <p class="news_tit ui_font30">花生日记V4.2.3版本更新说明</p>
                                                        <div class="news_des">
                                                            花生日记APP又成长优化啦！我们来看看最新的V4.2.3版本都有哪些技能吧~
                                                        </div>
                                                        <a href="/Article_details/61.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide swiper-slide-next" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="58">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-06-19</p>
                                                        <p class="news_tit ui_font30">花生日记APPV4.2版本更新说明</p>
                                                        <div class="news_des">
                                                            花生日记APPV4.2版本来啦~
                                                        </div>
                                                        <a href="/Article_details/58.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="51">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-05-18</p>
                                                        <p class="news_tit ui_font30">花生日记APPV4.1版本更新说明</p>
                                                        <div class="news_des">
                                                            花生日记APPV4.1版本来啦~
                                                        </div>
                                                        <a href="/Article_details/51.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="48">
                                            <div class="ui_hbfb ui_bg" style="background-image:url()">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-04-28</p>
                                                        <p class="news_tit ui_font30">花生日记V4.0版本更新</p>
                                                        <div class="news_des">
                                                            花生日记又更新啦~
                                                        </div>
                                                        <a href="/Article_details/48.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="swiper-slide" style="background: url(&quot;/Statics/images/tybg.jpg&quot;) center center / cover no-repeat; width: 1107px;" caseid="43">
                                            <div class="ui_hbfb ui_bg" style="background-image:url(/Uploads/201904/5cb1c0fa8557c.jpg)">
                                                <div class="ui_mid3">
                                                    <div class="ui_txt wrp1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                                        <p class="news_date">2019-04-13</p>
                                                        <p class="news_tit ui_font30">V3.2更新丨手机号成邀请码，这样的神操作还有一打</p>
                                                        <div class="news_des">
                                                            史上第二强版本V3.2更新啦——你的手机号就是邀请码
                                                        </div>
                                                        <a href="/Article_details/43.html" class="more_bar ui_mid3 ui_trans03">查看更多</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="swp-btnwrp wrp1"><div class="gl_c_prev swp-prev-style1 ui_trans03 swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div><div class="gl_c_next swp-next-style1 ui_trans03" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="news_list wrp1">
                    <ul class="ui_flex0">
                        <li class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <a href="/Article_details/86.html" class="ui_trans03">
                                <div class="ui_img" style="background:url(/Statics/images/fm.jpg) no-repeat center; background-size:cover;">
                                    <div class="" style="padding-bottom:54.2666%; background:url(/Uploads/202007/5f0581cabc33f.jpg) no-repeat center; background-size:cover;"></div>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">花生日记党支部开展庆“七一”建党99周年主题党日活动</p>
                                    <div class="news_des ui_clamp2">
                                        为庆祝中国共产党成立99周年，教育引导党员坚定理想信念，提升党性修养，7...
                                    </div>
                                    <p class="news_date">2020-07-03</p>
                                </div>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <a href="/Article_details/85.html" class="ui_trans03">
                                <div class="ui_img" style="background:url(/Statics/images/fm.jpg) no-repeat center; background-size:cover;">
                                    <div class="" style="padding-bottom:54.2666%; background:url(/Uploads/202006/5ef341bece5a0.jpg) no-repeat center; background-size:cover;"></div>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">社交电商头部企业受关注  近50家广东电商协会会员到访花生日记</p>
                                    <div class="news_des ui_clamp2">
                                        6月23日下午，广东省电子商务协会（以下简称“省电商协会”）“名企考察系...
                                    </div>
                                    <p class="news_date">2020-06-24</p>
                                </div>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <a href="/Article_details/84.html" class="ui_trans03">
                                <div class="ui_img" style="background:url(/Statics/images/fm.jpg) no-repeat center; background-size:cover;">
                                    <div class="" style="padding-bottom:54.2666%; background:url(/Uploads/202006/5ef2c07b8db5b.jpg) no-repeat center; background-size:cover;"></div>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">广州市海珠区和贵州省黔南州福泉市领导一行莅临花生日记</p>
                                    <div class="news_des ui_clamp2">
                                        6月18日上午，海珠区和福泉市领导一行到花生日记总部指导工作，深入讨论了...
                                    </div>
                                    <p class="news_date">2020-06-24</p>
                                </div>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <a href="/Article_details/83.html" class="ui_trans03">
                                <div class="ui_img" style="background:url(/Statics/images/fm.jpg) no-repeat center; background-size:cover;">
                                    <div class="" style="padding-bottom:54.2666%; background:url(/Uploads/202006/5ef32c4a13a2b.jpg) no-repeat center; background-size:cover;"></div>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">积极践行广州本土公益事业 花生日记率先认领微心愿</p>
                                    <div class="news_des ui_clamp2">
                                        花生日记与网易、欢聚时代、虎牙、唯品会等22家企业到场支持，并认领26个微...
                                    </div>
                                    <p class="news_date">2020-06-19</p>
                                </div>
                            </a>
                        </li>
                        <!--  <li class="wow fadeInUp" data-wow-delay=".2s">
                            <a href="#" class="ui_trans03">
                                <div class="ui_img">
                                    <img src="/Statics/images/img9.jpg"/>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">花生日记双11战报：24小时成交额13亿元</p>
                                    <div class="news_des ui_clamp2">
                                        从通过 UGC 分享打造消费类口碑社区，到构建电商能力，再到成...
                                    </div>
                                    <p class="news_date">2018-11-12</p>
                                </div>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <a href="#" class="ui_trans03">
                                <div class="ui_img">
                                    <img src="/Statics/images/img10.jpg"/>
                                </div>
                                <div class="ui_txt">
                                    <p class="news_tit ui_clamp2 ui_font18">花生日记双11战报：24小时成交额13亿元</p>
                                    <div class="news_des ui_clamp2">
                                        从通过 UGC 分享打造消费类口碑社区，到构建电商能力，再到成...
                                    </div>
                                    <p class="news_date">2018-11-12</p>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                    <div class="ui_btm ui_txtc wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <a href="/Page_list/new.html" class="more_bar ui_trans03">查看更多新闻</a>
                    </div>
                </div>
            </section>
        </main>



        <footer>
            <div class="wrp1">
                <div class="foot_nav ui_flex0 ui_font16">
                    <dl class="dl1 ui_siz">
                        <dt class="ui_font14">公司相关</dt>
                        <dd><a href="/Page_list/aboutme.html">公司简介</a></dd>
                        <dd><a href="/Qyzp_list/recruitment.html">企业招聘</a></dd>
                    </dl>
                    <dl class="dl2 ui_siz">
                        <dt class="ui_font14">产品相关</dt>
                        <dd><a href="/Page_list/app.html">APP下载</a></dd>
                        <dd><a href="/Page_list/product.html">产品服务</a></dd>
                    </dl>
                    <dl class="dl3 ui_siz">
                        <dt class="ui_font14">联系我们</dt>
                        <dd>广州市海珠区新港东路1166号</dd>
                        <dd>邮箱：hsrj@drgou.com</dd>
                        <!-- <dd>电话：</dd>-->
                    </dl>
                    <dl class="dl4 ui_siz">
                        <dd>
                            <img src="/Statics/images/img4.png">
                            <p class="ui_font14">扫码下载花生日记</p>
                        </dd>
                    </dl>
                    <dl class="dl5 ui_siz">
                        <dd>
                            <img src="/Statics/images/wbimg.jpg?2019">
                            <p class="ui_font14">关注官方微博</p>
                        </dd>
                    </dl>
                </div>
                <div class="friend_link ui_block3">
                    <span>友情链接：</span>
                    <a href="http://www.drgou.com">花生日记官网</a><a href="http://www.drgou.com">花生日记APP</a><a href="http://www.drgou.com">花生日记</a>
                </div>
            </div>
            <div class="ui_btm">
                <div class="wrp1 ui_flex1">
                    <div class="ui_l ui_block3">
                        <p class="copyright">广州花生日记网络科技有限公司 版权所有。<br><a href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action" target="_blank">粤ICP备17137846号-1</a> </p>
                        <span class="other ui_block3">
                            <a href="/Statics/images/business_licence.jpg" target="_blank">营业执照</a>
                            <!-- <a href="/Page_list/privacypolicy.html">隐私政策</a> -->
                            <a href="https://www.drgou.com/sitemap.xml">网站地图</a>
                        </span>
                    </div>
                    <div class="ui_r">
                        <div class="shareORgz bdsharebuttonbox">
                            <!--
                            <a href="#" onclick="return false;" class="popup_tsina" data-cmd="tsina"></a>
                            -->
                            <a href="#" class="weixin"><div class="ewm_box ui_trans03"><img src="/Statics/images/img4.png" title="" alt="微信分享"></div></a>
                            <a href="https://weibo.com/u/6506808062" target="_back" class="weibo"><div class="ewm_box ui_trans03"><img src="/Statics/images/wbimg.jpg?2019" title="" alt="微博分享"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- monav --><div class="monav ui_siz ui_trans05 mcs ui_hide mCustomScrollbar _mCS_1 mCS_no_scrollbar" style="">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 95px;" tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="nav_main">
                    <i class="yj_line" style="overflow: hidden; left: 0px; width: 0px;"><li class="current" style="width:0; overflow:hidden; margin-right:0;"><a href="#"></a></li></i>
                    <ul class="clearfix">
                        <li class="current" style="width:0; overflow:hidden; margin-right:0;"><a href="#"></a></li>
                        <li class="">
                            <a href="/Page_list/new.html" class="yjtit">企业动态</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/product.html" class="yjtit">产品服务</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/aboutme.html" class="yjtit">认识花生日记</a>
                        </li>
                        <li class="">
                            <a href="/Qyzp_list/recruitment.html" class="yjtit">企业招聘</a>
                        </li>
                        <li class="">
                            <a href="/Page_list/app.html" class="yjtit">app下载</a>
                        </li>
                    </ul>
                </div>
            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
        </div>
    </div>
    <div class="cbl ui_trans03">
        <a class="sm sm-app">
            <div class="ui_trans03">
                <img src="/Statics/images/img4.png">
                <p class="ui_mid3"><span>扫我下载APP</span></p>
            </div>
        </a>
        <a class="sm sm-weibo" href="https://weibo.com/u/6506808062" target="_back">
            <div class="ui_trans03">
                <img src="/Statics/images/wbimg.jpg?2019">
                <p class="ui_mid3"><span>关注官方微博</span></p>
            </div>
        </a>
        <a class="top"></a>
    </div>
    <!-- gf -->
    <script type="text/javascript" src="/Statics/js/plug-in.js"></script>
    <script type="text/javascript" src="/Statics/js/core.js"></script>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2b77474a8fa6f8e55a7e53d4305a277a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>




    <script>
        $(function () {
            //banner
            var swiper1 = new Swiper('.swiper1', {
                slidesPerView: 1,
                //effect : 'fade',
                speed: 1000,
                loop: true,
                pagination: {
                    el: '.swp-dots1',
                    clickable: true,
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },

            });
            var gl_c_slide = $('.gl_c_slide'), hotLen = gl_c_slide.length, hotArr = new Array();
            for (var h = 0; h < hotLen; h++) {
                var swiper3 = 'swiper3-' + h;
                var hotSlideLen = gl_c_slide.eq(h).find('.swiper-slide').length;
                var m31 = 0;
                //gl_c_slide.eq(h).find('.swiper-container').addClass('swiper3-'+h).append('<div class="swp-dots3-'+h+' swp-dots-style1"></div>');
                gl_c_slide.eq(h).find('.swiper-container').addClass('swiper3-' + h);//.append('<div class="swp-btnwrp wrp1"><div class="swp-prev-'+h+' swp-prev-style1 ui_trans03"></div><div class="swp-next-'+h+' swp-next-style1 ui_trans03"></div></div>');
                if (hotSlideLen > 1) m31 = 1;
                hotArr.push(swiper3);
                hotArr[h] = new Swiper('.swiper3-' + h, {
                    slidesPerView: 1,
                    //effect : 'fade',
                    speed: 1000,
                    //loop:m31?true:false,
                    pagination: {
                        //el:m31?'.swp-dots3-'+h:'',
                        clickable: true,
                    },
                    //navigation: {
                    //    prevEl: '.swp-prev-'+h,
                    //    nextEl: '.swp-next-'+h,
                    //}
                    simulateTouch: false,

                })
            }

        })
    </script>


    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 10px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: block; opacity: 0.3;"><div class="nicescroll-cursors" style="position: relative; top: 645px; float: right; width: 5px; height: 290px; background-color: rgb(66, 66, 66); border: 0px; background-clip: padding-box; border-radius: 5px;"></div></div>
</body>
</html>
