.lr-my-page .userinfo {
    position: relative;
    margin: 10px;
    background: #fff;
    height: 89px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-top: 21px;
    padding-left: 65px;
}

    .lr-my-page .userinfo img {
        position: absolute;
        left: 10px;
        top: 21px;
        width: 45px;
        height: 45px;
        border-radius: 5px;
    }

    .lr-my-page .userinfo .content {
        position: relative;
    }

    .lr-my-page .userinfo .name {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .lr-my-page .userinfo .subname {
        border-radius: 35px;
        font-size: 12px;
        background-color: #c6c6c6;
        color: #fff;
        padding: 0 5px;
    }

    .lr-my-page .userinfo:after {
        position: absolute;
        top: 36px;
        right: 5px;
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e6a3";
        color: #c8c7cc;
    }

.lr-my-page .version {
    position: relative;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}
