
@{
    ViewBag.Title = "接受列表";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="reviceTaskList" class="lr-layout-body"></div>

@Html.AppendJsFile("/Areas/DM_APPManage/Views/DM_Task/LookReviceDetail.js")