<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瓜分千万红包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>Token:@ViewBag.Token</div>
    <div>AppID:@ViewBag.AppID</div>
    <div>Version:@ViewBag.Version</div>
    <div>Platform:@ViewBag.Platform</div>

    <a href="#">打开任务详情</a>
</body>
</html>