<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>哆来米兼职APP</title>
    <meta name="Keywords" content="哆来米兼职,哆来米兼职app下载,商家推广">
    <meta name="Description" content="哆来米兼职是一款手机购物APP，用户通过APP搜索电商平台的优惠券，达到购物省钱的目的，同时用户可以将商品的优惠信息链接分享给朋友、家人等，通过促成销售获益。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <link rel="stylesheet" href="~/Content/dlm/bootstrap.min.css?19927"><!-- dj -->
    <link rel="stylesheet" href="~/Content/dlm/owl.carousel.css"><!-- 5t -->
    <link rel="stylesheet" href="~/Content/dlm/main.css?201"><!-- zt -->
    <link rel="stylesheet" href="~/Content/dlm/responsive.css?1012"><!-- dh -->
    <link href="~/Content/dlm/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/dlm/reset.css" rel="stylesheet" />
    <link href="~/Content/dlm/mg_officeWeb.css" rel="stylesheet" />
    <link href="~/Content/dlm/style1.css" rel="stylesheet" />

    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
    <style id="tsbrowser_video_independent_player_style" type="text/css">
        [tsbrowser_force_max_size] {
            width: 100% !important;
            height: 100% !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            transform: none !important;
        }

        [tsbrowser_force_fixed] {
            position: fixed !important;
            z-index: 9999 !important;
            background: black !important;
        }

        [tsbrowser_force_hidden] {
            opacity: 0 !important;
            z-index: 0 !important;
        }

        [tsbrowser_hide_scrollbar] {
            overflow: hidden !important;
        }

        [tsbrowser_display_none] {
            display: none !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }

        [tsbrowser_force_show] {
            display: black !important;
            visibility: visible !important;
            opacity: 0;
        }

        .left_MgApp {
            width: 100%;
            height: 311px;
            padding: 50px 52px 55px 56px;
            background-color: #f0f0f0;
            border-radius: 5px;
            position: relative;
        }
    </style>
</head>
<body data-ext-version="3.0.2">
    <!-- header section -->
    <section class="banner" role="banner">
        <header id="header" class="">
            <div class="header-content clearfix">
                <a class="logo" href="http://dlm.sqgsq.cn"><img src="~/Content/images/logo1.png?2012" alt="哆来米兼职" title="哆来米兼职"></a><!-- navigation section  -->
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        @*<li><a href="#download">哆来米兼职APP下载</a></li>*@
                        <li><a href="#" onclick="window.scroll({top: 455, left: 0, behavior: 'smooth' });">功能介绍</a></li>
                        <li><a href="#" onclick="window.scroll({top: 855, left: 0, behavior: 'smooth' })">公司简介<b>@*<u>CCC666</u>*@</b></a></li>
                        <li><a href="#" onclick="window.scroll({top: 1100, left: 0, behavior: 'smooth' })">等级说明</a></li>
                        <li><a href="tencent://message/?uin=475340895&Site=http://dlm.sqgsq.cn&Menu=yes">在线客服</a></li>
                        @*<li><a href="http://dlm.sqgsq.cn" target="_blank" rel="nofollow">哆来米兼职官网 dlm.sqgsq.cn</a></li>*@
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">菜单<span></span></a>
            </div>
            <!-- navigation section  -->
        </header>
        <!-- banner text section-->
        <div id="banner" class="container">
            <div class="col-sm-12">
                <div class="banner-text">
                    @*<img class="img-responsive" src="~/Content/images/bk.png?1011">*@
                    <h1>给用户一流的服务</h1>
                    <h1>让用户的梦想在此处腾飞</h1>
                </div>
                <!-- banner text section-->
            </div>
        </div>
    </section>
    <!-- header section -->
    <div class="copyrights"><a href="http://dlm.sqgsq.cn">哆来米兼职</a></div>
    <!-- overview section -->
    <section id="overview" class="section overview">
        <div class="container">
            <div class="row" style="margin-top: 30px">
                <div class="col-md-4 col-sm-12 ">
                    <span class="icon icon-browser"></span>
                    <div class="overview-content">
                        <h4><strong>哆来米兼职的诞生</strong></h4>
                        <p>公司2020年疫情期间成立。哆来米兼职目前已从线上电商领域延展到线下实体业务，未来将延伸到生活服务的各个层面。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ">
                    <span class="icon icon-trophy"></span>
                    <div class="overview-content">
                        <h4><strong>哆来米兼职的优势</strong></h4>
                        <p>哆来米兼职以创新为驱动，通过大数据精准匹配技术，构建消费者、商家和商品的社交消费生态圈。引导用户获得优质的商品和更好的消费体验。为商家提供精准营销服务，提升商品服务推广效果。 </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ">
                    <span class="icon icon-lifesaver"></span>
                    <h4><strong>哆来米兼职的未来</strong></h4>
                    <p>哆来米兼职将以大数据为载体，打造超级生活入口，融合多方资源，构建分享价值网路。从而推动整个社会降低商业流通成本，提高交易效率，让消费者和商家共享效率提升的成果。</p>
                </div>
            </div>
        </div>
    </section>
    <!-- overview section -->
    <!-- feature section 1 -->
    <section id="features" class="section features1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    @*<h2 class="section-title">哆来米兼职APP<span>介绍</span></h2>*@
                    <h2 style="padding-bottom:30px;">功能介绍</h2>
                    @*<p class="section-intro"> 哆来米兼职是一款手机购物APP，用户通过APP搜索电商平台的优惠券，达到购物省钱的目的，同时用户可以将商品的优惠信息链接分享给朋友、家人等，通过促成销售获益。</p>*@
                </div>
            </div>
            <div class="left_MgApp float_l clearfix">
                <div class="swiper-container aq_MgApp swiper-container-horizontal">
                    <div class="swiper-wrapper aq_wrapper" style="transition-duration: 0ms; transform: translate3d(-1443px, 0px, 0px);">
                        <div class="swiper-slide Mg_appItem clearfix swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 481px;">
                            <div class="left_bgPic-d float_l">
                                <img src="~/Content/dlm/good.png" />
                            </div>
                            <div class="rightWord-e">
                                <i class="Mg_app_title-e">首页介绍</i>
                                <p class="MgApp_introduceWord-e">
                                    精选当日爆款中的爆款，2-8款，圈内好货风向标 视频、图文等可直接分享给朋友。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide Mg_appItem clearfix" data-swiper-slide-index="0" style="width: 481px;">
                            <div class="left_bgPic-a float_l">
                                <img src="~/Content/dlm/meeting.png">
                            </div>
                            <div class="rightWord-e">
                                <i class="Mg_app_title-e">直播间介绍</i>
                                <p class="MgApp_introduceWord-e">
                                    哆来米兼职直播间直接与腾讯合作对接腾讯会议模块，保证数据的安全性，无缝衔接到程序中，方便用户定期参与了解平台的会议介绍。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide Mg_appItem clearfix swiper-slide-prev" data-swiper-slide-index="1" style="width: 481px;">
                            <div class="left_bgPic-e float_l">
                                <img src="~/Content/dlm/jianzhi.png">
                            </div>
                            <div class="rightWord-e">
                                <i class="Mg_app_title-e">官推任务</i>
                                <p class="MgApp_introduceWord-e">
                                    用户不仅可以在平台购物赚取佣金，还可以享受系统对接的任务系统，做任务赚钱更方便更快捷。
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide Mg_appItem clearfix swiper-slide-active" data-swiper-slide-index="2" style="width: 481px;">
                            <div class="left_bgPic-c float_l">
                                <img src="~/Content/dlm/good.png" />
                            </div>
                            <div class="rightWord-e">
                                <i class="Mg_app_title-e">限时抢购介绍</i>
                                <p class="MgApp_introduceWord-e">
                                    圈内当天爆款神同步，多重商品玩法，爆款、高佣、隔夜单等早上10点、晚8点，粘性高，转化高，产出有保障
                                    分享功能完美支持各渠道效果，朋友圈表情文案、多图可选、短视频等即将新增大量品牌团，转化产出飙升
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide Mg_appItem clearfix swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 481px;">
                            <div class="left_bgPic-d float_l">
                                <img src="~/Content/dlm/good.png" />
                            </div>
                            <div class="rightWord-d">
                                <i class="Mg_app_title-e">首页介绍</i>
                                <p class="MgApp_introduceWord-d">
                                    精选当日爆款中的爆款，2-8款，圈内好货风向标 视频、图文等可直接分享给朋友。
                                </p>
                            </div>
                        </div>
                    </div>

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <!-- app介绍分页器 -->
                <div class="swiper-pagination app_pagination swiper-pagination-bullets" style="left: 45%;"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                <!--左箭头-->
                <div class="swiper-button-prev prevBtn" style="display: none;" tabindex="0" role="button" aria-label="Previous slide"></div>
                <!--右箭头-->
                <div class="swiper-button-next nextBtn" style="display: none;" tabindex="0" role="button" aria-label="Next slide"></div>
            </div>
            <div class="row features1-content-space" style="display:none;">
                <div class="col-md-4 col-sm-12">
                    <div class="features1-content left">
                        <span class="icon icon-upload"></span>
                        <h4>查优惠券</h4>
                        <p>哆来米兼职APP<br>采用最新技术<br>一键查找网购优惠<br>少花钱，多生钱</p>
                    </div>
                    <div class="features1-content left">
                        <span class="icon icon-tools"></span>
                        <h4>商学院</h4>
                        <p>新手必看<br>大咖直播<br>学习使用、推广app技巧<br>大量干货等你来哦</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 middle"> <img class="img-responsive" src="~/Content/images/feature-mobile.png?225"> </div>
                <div class="col-md-4 col-sm-12">
                    <div class="features1-content right">
                        <span class="icon icon-speedometer"></span>
                        <h4>花粉社区</h4>
                        <p>花粉社区有各种素材可以分享<br>每日爆款素材<br>朋友圈素材<br>早安素材等</p>
                    </div>
                    <div class="features1-content right">
                        <span class="icon icon-camera"></span>
                        <h4>其他特色</h4>
                        <p>新人免单福利<br>9.9包邮，聚划算，课代表<br>哆来米兼职直邮...<br>更多精彩等你体验！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 style="padding-bottom:30px;padding-top:30px;"><span>公司简介</span></h2>
                </div>
            </div>
            <div>
                <p class="section-intro" style="line-height:35px;text-indent:2em;">哆来米兼职是一款手机购物APP，扎根淘宝天猫选品多年，有专业的选品能力，是淘宝官方支持的流量分发渠道，用户通过APP搜索电商平台的优惠券，达到购物省钱的目的，同时用户可以将商品的优惠信息链接分享给朋友、家人等，通过促成销售获益。我们的目标是致力于打造优质短视频电商导购平台，所有商品都来自天猫淘宝，直接在天猫淘宝下单，拥有强大售后保障，扎根选品，在同类APP中有选品优势，为用户提供超高性价比的商品推荐。</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 style="padding-bottom:30px;padding-top:30px;"><span>等级说明</span></h2>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class=" col-xs-12">
                        <table class="s3-d2-table">
                            <tbody>
                                <tr>
                                    <th> <div id="js_table_line" class="s3-d2-out"> <b class=" font-s4 hidden-xs  m-font-s4">会员级别：</b> <em class="font-c2 font-s4 hidden-xs  m-font-s4">会员特权：</em> <b class=" font-s5 visible-xs-block  m-font-s5">会员级别：</b> <em class="font-c2 font-s5 visible-xs-block  m-font-s5">会员特权：</em> </div></th>
                                    <th class="font-c5 font-s4  m-font-s4"> <i></i> 初级会员</th>
                                    <th class="font-c5 font-s4  m-font-s4"> <i></i>初级合伙人</th>
                                    <th class="font-c5 font-s4  m-font-s4"> <i></i>高级合伙人</th>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">免费使用</td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">领大额优惠券</td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">可分享好友</td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">自买省钱</td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">每个月25号提现</td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">邀请好友可升级高级会员</td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">消费有佣金</td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">自买省上省，分享赚不停</td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">专属客服</td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">必须满足一定条件</td>
                                    <td></td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td  m-font-s5">佣金收益翻10倍</td>
                                    <td></td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                                <tr>
                                    <td class="font-c2 font-s5 s3-d2-td m-font-s5">具体咨询客服</td>
                                    <td></td>
                                    <td></td>
                                    <td class="s3-d2-gou"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display:none;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2><span>关于我们</span></h2>
                </div>
            </div>
            <div class="meiguangJs">
                <p class="MgInfo p1">
                    河北汉亚网络科技有限公司创建于2019年08月，扎根淘宝天猫选品多年，有专业的选品能力，2018年10月11日，美逛受邀参加淘宝双十一启动大会。
                </p>
                <p class="MgInfo">
                    目标是致力于打造优质短视频电商导购平台，所有商品都来自天猫淘宝，直接在天猫淘宝下单，拥有强大售后保障，扎根选品，在同类APP中有选品优势，为用户提供超高性价比的商品推荐。每个网购用户及团队都可以下载哆来米兼职，都可以成为我们的合作伙伴。
                </p>
            </div>
        </div>
    </section>
    <!-- feature section 1 -->
    <!--subscribe section -->
    <section id="download" class="section subscribe" style="display:none;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2><span>哆来米兼职APP下载</span></h2>
                    @*<p>*使用邀请码CCC666激活超级会员资格*</p>*@
                    @*<div class="banner-btn"><a href="https://apps.apple.com/cn/app/%E8%8A%B1%E7%94%9F%E6%97%A5%E8%AE%B0-%E5%B0%91%E8%8A%B1%E9%92%B1-%E5%A4%9A%E7%94%9F%E9%92%B1/id1390240947" rel="nofollow" target="_blank"><img src="/images/apple-store-btn.png" alt="苹果商店官网下载"></a><a href="/app" target="_blank"><img src="down.png?0921" alt="哆来米兼职下载" title="点击下载APP" width="168"></a><a href="http://android.myapp.com/myapp/detail.htm?apkName=com.jf.lkrj&amp;ADTAG=mobile" rel="nofollow" target="_blank"><img src="/images/apple-store-btna.png?07281" alt="应用宝官网下载"></a> </div>*@
                </div>
            </div>
        </div>
    </section>
    <!--contact section -->
    <!-- footer section-->
    <footer class="section-f footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-12">
                    <p><a href="http://beian.miit.gov.cn/">冀ICP备20002955号-1</a>|河北汉亚网络科技有限公司</p>
                    <p>© 2019 <a href="http://dlm.sqgsq.cn">哆来米兼职APP dlm.sqgsq.cn</a> - 少花钱，多生钱</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section-->
    <!-- Include JS files -->
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="https://lib.sinaapp.com/js/jquery/1.8.2/jquery.min.js"></script>
    <script src="~/Content/dlm/jquery.fancybox.pack.js"></script> <!--dh-->
    <script src="~/Content/dlm/owl.carousel.min.js"></script> <!--d2h-->
    <script src="~/Content/dlm/main.js"></script><!--zt-->
    <script src="~/Content/dlm/swiper.min.js"></script>
    <script type="text/javascript">
        var wdwidth = $(document).width()
        if (wdwidth > 769) {
            $(".address").hover(function () {
                $(this).find("span").show()
            }, function () {
                $(this).find("span").hide()
            });
        }
        $(function () {
            /*var f = fGetUrlParam('F') || '';
            var k = fGetUrlParam('K') || '';
            $.cookie('from', f);
            $.cookie('key', k);
            RenderStarCard(data); //group轮播图
            function RenderStarCard(data) {
                var html = template('starTeamTmpl', data);
                $('.Mg_starGroupCard').html(html); //group轮播图
            };
            //分页器是否显示
            var slideItems = $('.crauseBox .slideItem').length;
            if (slideItems != null || slideItems != undefined) {
                if (slideItems == 1) {
                    $('.aq_pagination').hide();
                } else {
                    $('.aq_pagination').show();
                }
            }*/
            //轮播图按钮是否显示
            $('.left_MgApp').mouseenter(function () {
                $('.prevBtn').show();
                $('.nextBtn').show();
            })
            $('.left_MgApp').mouseleave(function () {
                $('.prevBtn').hide();
                $('.nextBtn').hide();
            })
            // 导航条效果
            /*$('.navBar li').click(function () {
                var isActive = $(this).hasClass('active');
                $(this).addClass('active').siblings().removeClass('active');
            })
            // 固定导航
            $(window).scroll(function () {
                var st = $(this).scrollTop();
                // console.log(st, 'scrollTop')
                var topNavBar = $('#topNavBar');
                var branchCom = $('.Mg_BC_btnList');
                if (st >= 100) {
                    topNavBar.addClass('topHeadBar');
                } else {
                    topNavBar.removeClass('topHeadBar');
                }
                if (st >= 4780) {
                    $('.vx_erwm').hide();
                } else {
                    $('.vx_erwm').show();
                }
            });*/
            // 轮播图
            //mgapp 轮播图
            var MgappCause = new Swiper('.aq_MgApp', {
                loop: true,
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.app_pagination',
                }, //可选选项，自动滑动
                lazy: {
                    loadPrevNext: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                    hideOnClick: false
                }
            });
        });
    </script>
    <div style="display:none"></div>


</body>
</html>