@{
    ViewBag.Title = "文案管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
@Html.AppendCssFile("/Areas/DM_APPManage/Views/DM_Article/Form.css")
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">标题<font face="宋体">*</font></div>
        <input id="title" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">上级id<font face="宋体">*</font></div>
        <div id="parentid"></div>
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">排序<font face="宋体">*</font></div>
        <input id="sort" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="lr-wrap col-xs-12 lr-form-item">
        <div class="lr-form-item-title">图标<font face="宋体">*</font></div>
        <div class="file">
            <input type="file" name="uploadFile" id="uploadFile">
        </div>
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">内容<font face="宋体">*</font></div>
        <script id="editor" type="text/plain" style="height:230px;">
        </script>
    </div>
</div>

<script src="~/Content/ueditor/ueditor.config.js"></script>
<script src="~/Content/ueditor/ueditor.all.js"></script>
<script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>
@*<script src="~/Content/webuploader/webuploader.nolog.min.js"></script>*@
@Html.AppendJsFile("/Views/LR_Content/script/lr-fileupload.js", "/Areas/DM_APPManage/Views/DM_Article/Form.js")


