<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.IsSuccess</title>
    <style type="text/css">
        body {
            background-color: #3f3f3f;
            font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
            width: 100%;
            height: 100%;
            text-align:center;
        }
    </style>
</head>
<body>
    <div style="background-color:#3f3f3f;">
        <div style="position:absolute;top:320px;text-align:center;left:80px;width:370px;">
            <div style="font-size:30px;color:white;">@ViewBag.IsSuccess</div>
            <div style="font-size:18px;color:white;margin-top:15px;">@ViewBag.ErrorMessage</div>
        </div>

        <img src="~/Content/images/bg.png" />
    </div>
</body>
