<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--正式环境-->
  <!--<add name="BaseDb" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />-->

  <!--测试环境--><!--
  <add name="BaseDb" connectionString="server=dev.dlaimi.cn;port=3306;user id=root;password=yEhpNMfwpaxnRMYTqYfn;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=dev.dlaimi.cn;port=3306;user id=root;password=yEhpNMfwpaxnRMYTqYfn;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=dev.dlaimi.cn;port=3306;user id=root;password=yEhpNMfwpaxnRMYTqYfn;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=dev.dlaimi.cn;port=3306;user id=root;password=yEhpNMfwpaxnRMYTqYfn;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>