<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--Sql Server-->
  <!--<add name="BaseDb" connectionString="server=cdb-4omwne6j.gz.tencentcdb.com;port=10026;user id=root;password=Hyg920511;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=cdb-4omwne6j.gz.tencentcdb.com;port=10026;user id=root;password=Hyg920511;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=cdb-4omwne6j.gz.tencentcdb.com;port=10026;user id=root;password=Hyg920511;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=cdb-4omwne6j.gz.tencentcdb.com;port=10026;user id=root;password=Hyg920511;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--
  <add name="BaseDb" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
-->
  <!--正式环境1-->
  <!--<add name="BaseDb" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=bj-cdb-q1vbq4aq.sql.tencentcdb.com;port=61217;user id=root;password=!@#123Hebeihanya;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />-->

  <!--测试环境-->
  <add name="BaseDb" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="account" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=LeaRunFramework_Base_20176162;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="robot_DB" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=sendorder_data;charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="dm_data" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />

  <!--<add name="多米易购" connectionString="server=cdb-4omwne6j.gz.tencentcdb.com;port=10026;user id=root;password=Hyg920511;database=dm_data;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>