<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Learun.DataBase.IDatabase,Learun.DataBase" />
    <typeAlias alias="SqlServer" type="Learun.DataBase.SqlServer.Database,Learun.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="Learun.DataBase.MySqlEx.Database,Learun.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="Learun.DataBase.Oracle.Database,Learun.DataBase.Oracle" />

  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>
  </containers>
</unity>