@{
    ViewBag.Title = "数据表管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout lr-layout-left-center" id="lr_layout">
    <div class="lr-layout-left">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title">数据库目录</div>
            <div class="lr-layout-body" id="db_tree"></div>
        </div>
    </div>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title">
                数据表信息 - <span id="titleinfo">未选择分类</span>
            </div>

            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新建表</a>
                        @*<a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑表</a>*@
                        @*<a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;删除</a>*@
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_tabledata" class="btn btn-default"><i class="fa fa-table"></i>&nbsp;打开表数据</a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="girdtable">
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_SystemModule/Views/DatabaseTable/Index.js")





