@{
    ViewBag.Title = "官推文案";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@*<link href="/Areas/DM_APPManage/Views/dm_friend_circle/zepto.css" rel="stylesheet" />*@
@Html.AppendCssFile("/Areas/DM_APPManage/Views/dm_friend_circle/zepto.css")
<div class="lr-form-wrap" id="form">

    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">图片<font face="宋体">*</font></div>
        <div class="weui-uploader__bd">
            <ul class="weui-uploader__files weui-uploader__file_status" id="uploaderFiles">
            </ul>
            <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" accept="image/*" multiple="" type="file">
            </div>
        </div>
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">文案内容<font face="宋体">*</font></div>
        <textarea id="t_content" type="text" rows="6" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">排序<font face="宋体">*</font></div>
        <input id="t_sort" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@*<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>*@
@Html.AppendJsFile("/Areas/DM_APPManage/Views/dm_friend_circle/zepto.min.js", "/Areas/DM_APPManage/Views/dm_friend_circle/lrz.min.js")
@Html.AppendJsFile("/Areas/DM_APPManage/Views/dm_friend_circle/Form.js")
