@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout lr-layout-center" id="lr_layout">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title">订单数据</div>
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="lr-query-formcontent">
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">订单编号</div>
                                    <input id="txt_OrderSN" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">用户ID</div>
                                    <input id="txt_UserID" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">平台类型</div>
                                    <div id="txt_type_big" class="form-control"><ul><li data-value="1">淘宝</li><li data-value="3">京东</li><li data-value="4">拼多多</li></ul></div>
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">订单状态</div>
                                    <div id="txt_status" class="form-control"><ul><li data-value="0">未处理</li><li data-value="1">订单付款</li><li data-value="2">收货未结</li><li data-value="3">订单失效</li><li data-value="4">结算至余额</li></ul></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i> 新增</a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> 编辑</a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i> 删除</a>
                        <a id="lr_excuterate" class="btn btn-default"><i class="fa fa-plus"></i> 一键返利</a>
                        @*<a id="lr_rateselect" class="btn btn-default"><i class="fa fa-plus"></i> 选中返利</a>*@
                        <a id="lr_syncorder" class="btn btn-default"><i class="fa fa-plus"></i> 手动同步订单</a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="girdtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/DM_APPManage/Views/DM_Order/Index.js")