@{
    ViewBag.Title = "选项卡添加";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <input type="hidden" id="id" />
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">选项卡名称<font face="宋体">*</font></div>
        <input id="text" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">选项卡序号<font face="宋体">*</font></div>
        <input id="sort" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_FormModule/Views/Custmerform/TabEditForm.js")

