@{
    ViewBag.Title = "明细说明";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">id<font face="宋体">*</font></div>
        <input id="id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">站长id<font face="宋体">*</font></div>
        <input id="appid" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">task_do<font face="宋体">*</font></div>
        <input id="task_do" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">任务(一级)<font face="宋体">*</font></div>
        <input id="task_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">任务(二级)<font face="宋体">*</font></div>
        <input id="task_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">任务(一级团队)<font face="宋体">*</font></div>
        <input id="task_parners_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">任务(二级团队)<font face="宋体">*</font></div>
        <input id="task_parners_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">购物人提示<font face="宋体">*</font></div>
        <input id="shop_pay" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">购物(一级)<font face="宋体">*</font></div>
        <input id="shop_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">购物(二级)<font face="宋体">*</font></div>
        <input id="shop_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">购物(一级团队)<font face="宋体">*</font></div>
        <input id="shop_parners_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">购物(二级团队)<font face="宋体">*</font></div>
        <input id="shop_parners_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">开通代理(一级)<font face="宋体">*</font></div>
        <input id="opengent_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">开通代理(二级)<font face="宋体">*</font></div>
        <input id="opengent_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">开通代理(三级)<font face="宋体">*</font></div>
        <input id="opengent_three" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">开通代理(一级合伙人)<font face="宋体">*</font></div>
        <input id="opengent_parners_one" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">开通代理(二级合伙人)<font face="宋体">*</font></div>
        <input id="opengent_parners_two" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">创建时间<font face="宋体">*</font></div>
        <input id="CreateTime" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">修改时间<font face="宋体">*</font></div>
        <input id="UpdateTime" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/DM_APPManage/Views/dm_basesetting_tip/Form.js")
