@{
    ViewBag.Title = "发货页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">快递单号<font face="宋体">*</font></div>
        <input id="expresscode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/DM_APPManage/Views/DM_IntergralChangeRecord/SendExpressNumber.js")
