@{
    ViewBag.Title = "编辑表格字段设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout" style="padding:0;">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                    </div>
                </div>
            </div>

            <div class="lr-layout-body" id="girdtable">
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeGeneratorModule/Views/TemplatePC/GridFieldIndex.js")

